/* LAYOUT 0 */

.layout-0 {
  height: 100%;
}

/* LAYOUT 1 */

.layout-1 {
  height: 400px;
}

/* LAYOUT 2 */

.layout-2 {
  height: 800px;
  position: relative;
  border-top: 0px;
}

.layout-2 .bg .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 250px;
  color: #fafafa;
  font-size: 35px;
}

.layout-2 .sp-bg {
  position: absolute;
  width: 100%;
}

.layout-2 .bg .sp {
  position: absolute;
  z-index: 1;
  display: block;
  top: 100px;
}

.layout-2 .bg .btn-sp {
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 0px;
  right: 80px;
}

.layout-2 .bg .color-title {
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 220px;
  left: 1100px;
  color: #bbbcbc;
}

/* LAYOUT 3 */

.layout-3 {
  height: 330px;
  position: relative;
}

.layout-4 {
  height: 800px;
  position: relative;
}

.layout-4 .bg .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 250px;
  color: #fafafa;
  font-size: 35px;
}

.layout-4 .sp-bg {
  position: relative;
  width: 100%;
}

.layout-4 .bg .sp {
  position: absolute;
  z-index: 1;
  display: block;
  top: 100px;
}

.layout-4 .bg .btn-sp {
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 0px;
  right: 80px;
}

.layout-4 .bg .color-title {
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 220px;
  left: 1100px;
  color: #bbbcbc;
}

.layout-5 {
  height: 320px;
}

.layout-6 {
  height: 630px;
}

.layout-6 .body {
  position: relative;
  display: flex;
  width: 100%;
  justify-items: space-between;
  transition: transform 0.3s ease-out;
}

.layout-6 .body div {
  width: 100%;
}

.layout-6 .body div img {
  width: 99.6%;
  height: auto;
  z-index: 0;
}

.layout-6 .body div img:hover {
  transform: scale(110%);
}

.layout-7 {
  height: 250px;
  position: relative;
}

.layout-8 {
  height: 800px;
  position: relative;
  border-top: 0px;
}

.layout-8 .bg .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 250px;
  color: #fafafa;
  font-size: 35px;
}

.layout-8 .sp-bg {
  position: absolute;
  width: 100%;
}

.layout-8 .bg .sp {
  position: absolute;
  z-index: 1;
  display: block;
  top: 100px;
}

.layout-8 .bg .btn-sp {
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 0px;
  right: 80px;
}

.layout-8 .bg .color-title {
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 220px;
  left: 1100px;
  color: #bbbcbc;
}

.layout-9 {
  height: 800px;
  position: relative;
}

.layout-9 div .content .d-editor-text .body .title {
  position: absolute;
  left: 500px;
  top: -590px;
}

.layout-9 div .content .d-editor-text .body .content {
  position: absolute;
  left: 395px;
  top: -530px;
}

.layout-10 {
  position: relative;
  height: 530px;
}

.link,
.layout-10 .footer .content .flex .box-logo .second-logo,
.layout-10 .footer .content .flex .box-language .country {
  text-decoration: none;
}