/* LAYOUT 0 */

.layout-0 {
    height: 100%;
}

.layout-1 {
    height: 430px;
}

/* LAYOUT 2 */

.layout-2 {
    height: 650px;
    position: relative;
    border-top: 0px;
}

.layout-2 .bg .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 250px;
    color: #fafafa;
    font-size: 35px;
}

.layout-2 .sp-bg {
    position: absolute;
    width: 100%;
}

.layout-2 .bg .sp {
    position: absolute;
    z-index: 1;
    display: block;
    top: 100px;
}

.layout-2 .bg .btn-sp {
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0px;
    right: 80px;
}

.layout-2 .bg .color-title {
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 220px;
    left: 1100px;
    color: #bbbcbc;
}

/* LAYOUT 3 */

.layout-3 {
    height: 280px;
    position: relative;
}

.layout-4 {
    height: 650px;
    position: relative;
}

.layout-4 .d-banner-full {
    padding: 0px 30px 40px 30px;
}

.layout-4 .d-banner-full .body {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1330px;   
    height: 580px;
}

.layout-4 .d-banner-full .body::before {
    content: '';
    display: block;
    height: 0;
    background-color: #bbbcbc;
}

.layout-5 {
    height: 310px;
}

.layout-6 {
    height: 800px;
    position: relative;
}

.layout-6 .d-video-full {
    padding-bottom: 60px;
}

.layout-6 .d-video-full>.video-source {
    width: 1330px;
    margin: 0 auto;
    background-color: #0f0f0f;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.layout-6 .d-video-full>.video-source::before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 56%;
}

.layout-6 .d-video-full>.video-source>.video-source-element {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-6 .d-video-full>.video-source>.video-source-element {
    width: 100%;
    height: 100%;
    display: block;
}

.layout-7 {
    height: 280px;
    position: relative;
}

.layout-8 {
    height: 800px;
    position: relative;
}

.layout-8 .d-video-full {
    padding-bottom: 60px;
}

.layout-8 .d-video-full>.video-source {
    width: 1330px;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.layout-8 .d-video-full>.video-source::before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 56%;
}

.layout-8 .d-video-full>.video-source>.video-source-element {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-9 {
    height: 200px;
}

.layout-9 div div div input[type=email] {
    border-bottom: 3px solid #E74646;
    outline: none;
    color: #FA9884;
    font-size: 16px;
}

.layout-9 div div div input[type=email]:focus {
    box-shadow: .25rem .3rem #FA9884;
    border-bottom: 3px solid #E74646;
    border-top: 1px solid #E74646;
    color: #FA9884;
}

.layout-9 div div div input[type=email]::placeholder {
    color: #FA9884;
    font-size: 15px;
    
}

.layout-10 {
    position: relative;
    height: 530px;
}

.link, .layout-10 .footer .content .flex .box-logo .second-logo, .layout-10 .footer .content .flex .box-language .country {
    text-decoration: none;
}