/* LAYOUT 0 */

.layout-0 {
  height: 100%;
}

.layout-1 {
  height: 330px;
}

/* LAYOUT 2 */

.layout-2 {
  height: 780px;
  position: relative;
}

.layout-2 .d-video-full {
  padding-bottom: 60px;
}

.layout-2 .d-video-full > .video-source {
  width: 1330px;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.layout-2 .d-video-full > .video-source::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 56%;
}

.layout-2 .d-video-full > .video-source > .video-source-element {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LAYOUT 3 */

.layout-3 {
  height: 450px;
}

.layout-4 {
  height: 630px;
}

.layout-4 .body {
  position: relative;
  display: flex;
  width: 100%;
  justify-items: space-between;
  transition: transform 0.3s ease-out;
}

.layout-4 .body div {
  width: 100%;
}

.layout-4 .body div img {
  width: 99.6%;
  height: auto;
  z-index: 0;
  border-radius: 5px;
}

.layout-4 .body div img:hover {
  transform: scale(110%);
  border-radius: 25px;
}

/* layout 5 */

.layout-5 {
  height: 630px;
}

.layout-5 .body {
  position: relative;
  display: flex;
  width: 100%;
  justify-items: space-between;
  transition: transform 0.3s ease-out;
  padding: 10px 100px;
}

.layout-5 .body div {
  width: 100%;
}

.layout-5 .body div:first-child {
    margin-right: 35px;
}

.layout-5 .body div:last-child {
    margin-left: 35px;
}

.layout-5 .body div img {
  width: 400px;
  height: auto;
  z-index: 0;
  border-radius: 5px;
}

.layout-5 div div:hover {
    transform: scale(102%);
}

.layout-6 {
  height: 800px;
  position: relative;
}

.layout-6 .d-video-full {
  padding-bottom: 60px;
}

.layout-6 .d-video-full > .video-source {
  width: 1330px;
  margin: 0 auto;
  background-color: #0f0f0f;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.layout-6 .d-video-full > .video-source::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 56%;
}

.layout-6 .d-video-full > .video-source > .video-source-element {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-6 .d-video-full > .video-source > .video-source-element {
  width: 100%;
  height: 100%;
  display: block;
}

.layout-7 {
  height: 250px;
  position: relative;
}

.layout-8 {
  height: 800px;
  position: relative;
}

.layout-8 .d-video-full {
  padding-bottom: 60px;
}

.layout-8 .d-video-full > .video-source {
  width: 1330px;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.layout-8 .d-video-full > .video-source::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 56%;
}

.layout-8 .d-video-full > .video-source > .video-source-element {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-9 {
  height: 200px;
}

.layout-9 div div div input[type="email"] {
  border-bottom: 3px solid #e74646;
  outline: none;
  color: #fa9884;
  font-size: 16px;
}

.layout-9 div div div input[type="email"]:focus {
  box-shadow: 0.25rem 0.3rem #fa9884;
  border-bottom: 3px solid #e74646;
  border-top: 1px solid #e74646;
  color: #fa9884;
}

.layout-9 div div div input[type="email"]::placeholder {
  color: #fa9884;
  font-size: 15px;
}

.layout-10 {
  position: relative;
  height: 530px;
}

.link,
.layout-10 .footer .content .flex .box-logo .second-logo,
.layout-10 .footer .content .flex .box-language .country {
  text-decoration: none;
}
